# aedev-project-manager requirements
anybadge==1.16.0
coverage==7.10.5
coverage-badge==1.1.2
flake8==7.3.0
mypy==1.17.1
packaging==25.0
pillow==11.3.0
types-Pillow==10.2.0.20240822
PyGithub==2.8.1
pylint==3.3.9
pytest==8.4.1
pytest-cov==6.2.1
python-gitlab==6.4.0
requests==2.32.5
requests-toolbelt==1.0.0
setuptools==80.9.0
ae_base==0.3.73
ae_files==0.3.25
ae_paths==0.3.43
ae_dynamicod==0.3.15
ae_literal==0.3.35
ae_updater==0.3.17
ae_core==0.3.76
ae_console==0.3.84
ae_shell==0.3.7
ae_templates==0.3.1
ae_dev_ops==0.3.8
ae_pythonanywhere==0.3.1
