# aedev-project-manager requirements
anybadge
coverage
coverage-badge
flake8
mypy
packaging
Pillow          # for _check_resources()
types-Pillow
PyGithub
pylint
pytest
pytest-cov
python-gitlab
requests
requests-toolbelt   # needed by PyGithub
setuptools
ae_base
ae_files
ae_paths
ae_dynamicod
ae_literal
ae_updater
ae_core
ae_console
ae_shell
ae_templates
ae_dev_ops
ae_pythonanywhere
