# aedev-project-manager requirements
anybadge==1.16.0
coverage==7.14.3
flake8==7.3.0
mypy==2.1.0
packaging==26.2
pillow==12.2.0
types-Pillow==10.2.0.20240822
PyGithub==2.9.1
pylint==4.0.6
pytest==9.1.1
pytest-cov==7.1.0
python-gitlab==8.4.0
requests==2.34.2
ae_base==0.3.88
ae_system==0.3.8
ae_paths==0.3.46
ae_dynamicod==0.3.15
ae_literal==0.3.35
ae_updater==0.3.19
ae_core==0.3.86
ae_console==0.3.95
ae_shell==0.3.14
ae_managed_files==0.3.6
ae_pythonanywhere==0.3.6
aedev_base==0.3.8
aedev_commands==0.3.13
aedev_project_vars==0.3.15
