ae-parse-date==0.3.5
ae_base==0.3.74
ae_console==0.3.91
ae_core==0.3.81
ae_dev_ops==0.3.8
ae_dynamicod==0.3.15
ae_files==0.3.25
ae_literal==0.3.35
ae_paths==0.3.43
ae_pythonanywhere==0.3.3
ae_shell==0.3.8
ae_template==0.3.2
ae_templates==0.3.1
ae_updater==0.3.17
aedev_base==0.3.1
aedev_commands==0.3.1
-e git+https://gitlab.com/aedev-group/aedev_project_manager.git@d1ecc754aad626df4c41a6c235d2158a65925e81#egg=aedev_project_manager
aedev_project_tpls==0.3.68
aedev_pythonanywhere==0.3.7
-e git+https://gitlab.com/aedev-group/aedev_vars.git@9ebf71f486dd712078ad43cf29c96323bc1d1d9c#egg=aedev_vars
anybadge==1.16.0
argcomplete==3.6.3
astroid==3.3.10
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.3.0
coverage==7.12.0
coverage-badge==1.1.2
cryptography==45.0.4
Deprecated==1.2.18
dill==0.4.0
docutils==0.21.2
flake8==7.3.0
id==1.5.0
idna==3.10
iniconfig==2.1.0
isort==6.0.1
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.9.0
keyring==25.6.0
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.7.0
mypy==1.17.1
mypy_extensions==1.1.0
nh3==0.2.21
packaging==25.0
pathspec==0.12.1
pillow==11.3.0
pipx==1.8.0
platformdirs==4.3.8
pluggy==1.6.0
pycodestyle==2.14.0
pycparser==2.22
pyflakes==3.4.0
PyGithub==2.8.1
Pygments==2.19.1
pyjnius==1.6.1
PyJWT==2.10.1
pylint==3.3.9
PyNaCl==1.5.0
pytest==9.0.1
pytest-cov==7.0.0
pytest-django==4.11.1
python-gitlab==7.0.0
readme_renderer==44.0
requests==2.32.5
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.0.0
SecretStorage==3.3.3
setuptools==80.9.0
tomlkit==0.13.3
twine==6.1.0
types-Pillow==10.2.0.20240822
types-requests==2.32.4.20250611
types-setuptools==80.9.0.20250529
typing==3.7.4.3
typing_extensions==4.14.0
urllib3==2.4.0
userpath==1.9.2
wheel==0.45.1
wrapt==1.17.2
