# aedev-project-manager requirements
anybadge
coverage
flake8
mypy
packaging
Pillow              # for _check_resources()
types-Pillow
PyGithub
pylint
pytest
pytest-cov          # installs also the coverage package
python-gitlab
requests
requests-toolbelt   # needed by PyGithub
ae_base
ae_system
ae_files
ae_paths
ae_dynamicod
ae_literal
ae_updater
ae_core
ae_console
ae_shell
ae_managed_files
ae_pythonanywhere
aedev_base
aedev_commands
aedev_project_vars
