anybadge==1.16.0
coverage-badge==1.1.2
aedev_project_manager==0.3.10  # -e git+https://gitlab.com/aedev-group/aedev_project_manager.git@8a7ff9e06ee4c358dcd399422348dbb14d617991#egg=aedev_project_manager
flake8==7.3.0
mypy==1.18.2
pylint==4.0.3
pytest==9.0.1
pytest-cov==7.0.0
pytest-django==4.11.1
typing==3.7.4.3
types-setuptools==80.9.0.20250822
