anybadge==1.16.0
coverage-badge==1.1.2
aedev_project_manager==0.3.9  # -e git+https://gitlab.com/aedev-group/aedev_project_manager.git@d1ecc754aad626df4c41a6c235d2158a65925e81#egg=aedev_project_manager
flake8==7.3.0
mypy==1.18.2
pylint==4.0.3
pytest==9.0.1
pytest-cov==7.0.0
pytest-django==4.11.1
typing==3.7.4.3
types-setuptools==80.9.0.20250822
